body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.secs {
width: 550px;
position: absolute;
left: 35%;
top: 1%;
--background-color: #F4F4F4;
background-color: var(--background-color);
}

.dark-section {
    width: 550px;
    position: absolute;
    left: 35%;
    top: 1%;
    --background-color: #1F2937;
    background-color: var(--background-color);
    }

header {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 285px;
    background: #6943FF;
}

input {
    text-align: center;
    font-size: 64px;
    box-sizing: border-box;
width: 117px;
height: 83px;
border: 2px solid #B295FF;
border-radius: 5px;
}

button {
    font-weight: 700;
width: 117px;
height: 42px;
background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    gap: 20px;
}


.sectionfor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
height: 108.57px;
--background-color: #FFFFFF;
background-color: var(--background-color);
color: #5A537B;
}


.sections-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  height: 108.57px;
  --background-color: #273549;
  background-color: var(--background-color);
  color: #5A537B;
}

.p-dark {
    color: white;
}


.theme-switch {
    margin-left: 500px;
    position: relative;
    width: 48px;
    height: 24px;
  }
  
  .theme-switch input[type="checkbox"] {
    display: none;
  }
  
  .theme-switch label {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .theme-switch label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .theme-switch input[type="checkbox"]:checked + label {
    background-color: #3f51b5;
  }
  
  .theme-switch input[type="checkbox"]:checked + label:before {
    transform: translateX(24px);
  }